
:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --secondary-text-color: #FFFFFF;
    --third-text-color:rgba(255, 255, 255, 0.6);
    --accent-color:#2196F3;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    
}

body{
    background-color:var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.18;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/*Logo*/
.logo{
color: var(--title-text-color);
font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.19;
}

.accents{
    color: var(--accent-color);
}
/*site nav*/
.site-nav .link {
    color: var(--title-text-color);
    font-family: 'Roboto';
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
/*auth nav*/
.auth-nav .link{
    color: var(--primary-text-color);
    font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}
/* Hero*/
.hero-title{
    color: var(--secondary-text-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

}
.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
        
}
.effect, .adress{
    background-color: #2F303A;;
}
/* Section*/
.section-title{
    color: var(--title-text-color);
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
}
/* Features*/
.title{
    font-size: 14px;
}
.feature-list .title{
    color: var(--title-text-color);
        line-height: 1.14;
        text-transform: uppercase;
}
.feature-list .text{
        line-height: 1.71;
}
/* Team*/
.team-list .title{
    color: var(--title-text-color);
    font-weight: 500;
        font-size: 16px;
}
.teams{
    background-color: var(--secondary-bg-color);
}
/* Button*/
.button{
    color: var(--accent-color);
    background: var(--primary-bg-color) ;
    font-family: inherit;
    font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;      
}
.button:focus,.button:focus{
    color: var(--accent-color);
    background: var(--primary-bg-color);
}
.button.primary{
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}

/* footers*/
.footers .link{

    font-weight: 400;
    line-height: 1.71;
    color: var(--secondary-text-color);
}
.footers .logo{
    color: var(--secondary-text-color);
    font-size: 26px;
    line-height: 1.19;
}
address {
    font-style: normal;
}
.footers .mail, .footers .tel{
    color: var(--third-text-color);
}
.tel:hover,.tel:focus{
    color: var(--accent-color);
}
.mail:hover,.mail:focus {
    color: var(--accent-color);
}


                /*portfolio css */

.work-list .title {
    color: var(--title-text-color);
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}
.work-list .text{
        font-size: 16px;
        line-height: 1.87;
}
/* Button*/

.button.secondary {
    font-family: inherit;
    color: var(--title-text-color);
    background: var(--secondary-bg-color);
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
}
.button.secondary:hover,.button.secondary:focus{
    font-family: inherit;
    color: var(--secondary-text-color);
        background: var(--accent-color);
}

